:root {
            /* ===== Типографика ===== */
            --font-size-sm: 14px;
            --font-size-md: 22px;
            --font-size-lg: 24px;
            --font-size-xl: 32px;
            --font-size-xxl: 100px; 
            --font-size-section-title: 50px;

            --padding-xl: 40px;

            --spacing-xl: 40px;

            --border-radius: 20px; 
        
            --font-family-base: 'Montserrat', sans-serif;
        
            --transition-duration: 0.2s;    
}
@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #000000;      /* Основной брендовый цвет */
        --color-secondary: #ffffff;     /* Дополнительный цвет */
        --color-accent: linear-gradient(#e0ec38, #23ff69);
        --color-third: #020202;
    
        --color-danger: #e74c3c;        /* Цвет ошибок */
        --color-success: #2ecc71;        /* Цвет успеха */
        --color-warning: #f39c12;       /* Цвет предупреждений */
      
        /* ===== Функциональные цвета (по назначению) ===== */
        --color-border: linear-gradient(to right, #e0ec38, #23ff69);        /* Границы по умолчанию */
        --color-shadow: #2d9cf71e;/*  Тени */

        --color-light: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #ffffff;      /* Основной брендовый цвет */
        --color-secondary: #000000;     /* Дополнительный цвет */
        --color-accent: linear-gradient(#e0ec38, #23ff69);
        --color-third: #021033;
    
        --color-danger: #e74c3c;        /* Цвет ошибок */
        --color-success: #2ecc71;        /* Цвет успеха */
        --color-warning: #f39c12;       /* Цвет предупреждений */
      
        /* ===== Функциональные цвета (по назначению) ===== */
        --color-border: linear-gradient(to right, #e0ec38, #23ff69);        /* Границы по умолчанию */
        --color-shadow: #2d9cf71e;/*  Тени */

        --color-light: #ffffff;
    }
}
